{% extends 'base.html' %}

{% block content %}
    <h1>Create a new login!</h1>
        <form action="/validate" method="post">
            <label for="username">Username:
            <input id="username" type="text" name="username" value='{{username}}' />
            </label>
            <p class = "error">{{username_err}}</p>
        </br>
            <label for="password">Password:
            <input id="password" type="password" name="password" value='{{password}}'/>
            </label>
            <p class = "error">{{password_err}}</p>
        </br>
            <label for="verify-password">Verify Password:
            <input id="verify-password" type="password" name="verify_password" value='{{verify_password}}' />
            </label>
            <p class = "error">{{verify_password_error}} </p>
        </br>
            <label for="email">Email (optional):
            <input id="email" type="text" name="email" value='{{email}}'/>
            </label>
            <p class = "error">{{email_err}}</p>
        </br>
            <input type="submit" value="Sign In" />
        </form>
    </body>
</html>

{% endblock %}